@media (min-width: 768px) and (max-width: 1025px) {

    /* --- MENÚ HAMBURGUESA --- */
    .navbar ul { display: none !important; position: relative; }
    .menu-toggle { display: block !important; cursor: pointer; padding: 10px;  margin-left: auto !important;}
    .menu-toggle.is-active .bar:nth-child(2) { opacity: 0; }
    .menu-toggle.is-active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .menu-toggle.is-active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }
    .bar { display: block; width: 25px; height: 3px; margin: 5px auto; background-color: #00334e; transition: 0.3s; }
    .nav-list { display: none; flex-direction: column; width: 100%; position: absolute; top: 60px; left: 0;
        background-color: #ffffff; text-align: center; padding: 20px 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1); z-index: 1000; }
    .nav-list.active { display: flex !important; }
    /* --- MENÚ --- */
    .nav-list li a { font-size: 1.2rem !important; }

    /* --- TEXTOS MÁS GRANDES --- */
    body { font-size: 1.1rem !important; }
    body { font-size: 1.1rem !important; overflow-x: hidden !important; }
    h1 { font-size: 2.2rem !important; }
    h2 { font-size: 1.5rem !important; }
    .banner-content h1 { font-size: 3rem !important; }
    .banner-content p { font-size: 1.7rem !important; }

        /* --- HERO --- */
    .hero { height: 60vh !important; overflow: hidden !important; }
    .hero-content h1 { font-size: 2.5rem !important; }
    .hero-content p { font-size: 1.2rem !important; }

    /* --- IMAGEN TARJETAS--- */
    .card:nth-child(3) img { object-position: center bottom !important; }

/* --- CARDS EN 3 COLUMNAS --- */
    .cards-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;
    padding: 0 5% !important;
}
    .rutas-lista { padding: 0 2% !important; }
    .card { width: 100% !important; max-width: 480px !important;  }
    .card img {  height: 180px !important; object-fit: cover !important; }

    .ruta-detalles-inner {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}
    .tabla-precios { 
    width: 90% !important; 
    max-width: 500px !important;
}
    .info-texto { width: 90% !important; }
    .info-texto p { font-size: 1.1rem !important; }

        /* --- TESTIMONIOS --- */
    .test-card p { font-size: 1rem !important; }
    .test-card strong { font-size: 1rem !important; }

    /* --- FAQ --- */
    .faq-item summary { font-size: 1.3rem !important; }
    .faq-item p { font-size: 1.2rem !important; }
    .faq-hero h1 { font-size: 2.5rem !important; }
    .faq-hero p { font-size: 1.1rem !important; }

    /* --- BLOG --- */
    .blog-preview p { font-size: 1.1rem !important; }
    .btn-blog { font-size: 1.1rem !important; }
    .blog-intro { font-size: 1.1rem !important; }
    .blog-item-texto p { font-size: 1.13rem !important; }
    .blog-item-texto h2 { font-size: 1.4rem !important; }


    /* --- ITINERARIO 2 EN 2 --- */
    .itinerario-container {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 20px !important;
        padding: 20px 5% !important;
    }
    .dia-card { width: 100% !important; max-width: 100% !important; text-align: left !important; }
    .legal-section { padding-top: 120px !important; }

    /* --- FOOTER EN COLUMNA --- */
    .footer-grid { display: flex !important; flex-direction: column !important;
        align-items: center !important; text-align: center !important;
        gap: 18px !important; padding: 25px 5% !important; }
    .footer-info p {font-size: 1.2rem !important;}
    .footer-links a { margin-bottom: 8px !important; font-size: 1.2rem !important; }
    .footer-bottom p { font-size: 0.98rem !important; }
    .footer-links h4 { font-size: 1.2rem !important; }
    .footer-info h3 { font-size: 1.3rem !important; }
}